.jumbotron h1, .jumbotron h2 {
  font-family: fantasy;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 7px;
}

main {
  width: 60%;
  margin: auto;
}
main h3 {
  text-align: center;
  margin: 40px;
  font-family: Helvetica;
  font-size: 23px;
  letter-spacing: 1px;
  font-style: italic;
}
main ul li {
  letter-spacing: 1px;
}

blockquote {
  text-align: center;
}
blockquote p {
width: 70%;
margin: 40px auto;
}

.container>p {
  text-align: center;
}
